# Retail-Sales-Forecasting-Inventory-Optimization
# .gitignore
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.env
.env.local
.pytest_cache/
app.db
*.db
*.sqlite3
outputs/*.png
outputs/*.csv
data/raw/
data/processed/
*.log
.DS_Store
Thumbs.db
images/*.png
images/*.jpg
docs/*.pdf
